.cat-header-bg{
    background-color: #f4f4f4 !important;
    width: 100vw !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}
.category .enc-main-content-wrap{
    position: relative;
}
.category h1.enc-block-title-2{
    margin-top: 0px;
}
.subcategory-section{
    padding: 30px 0px 0px 0px;
}
.subcategory-section.dark{
    background-color: #202124;
}
.category-posts-section{
    margin-top: 45px;
}
.category-posts-section.no-publications .enc-block-title-1{
    margin-top: 0px;
}
.dark .enc-block-title-2{
    color: #fff;
}
.subcategory-section .enc-block-title-2{
    display: block;
    text-align: center;
}
.loading-posts{
    text-align: center;
    border: 1px dashed #cccccc;
    margin: 50px 0px;
    padding: 30px 20px;
    text-transform: uppercase;
    color: #666;
    display: table;
    width: 100%;
}