/****************************************/
/* COMENTARIOS */
/****************************************/
#comments {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding: 30px;
}
#comments h2{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    text-align: left;
    line-height: 24px;
}
#comments .comments-container{
    display: none;
}
#comments .comments-container.open{
    display: block;
}
#comments #container-respond{
    margin-top: 20px;
    font-size: 14px;
    display: none;
    transition: all ease 0.31s;
}
#comments #container-respond.open{
    display: block;
}
#comments #container-respond p{
    font-size: 14px;
    line-height: 20px;
}
#comments #container-respond p.comment-form-cookies-consent{
    margin-bottom: 10px;
}
#respond {
    margin-bottom: 15px;
    width: 100%;
}
#respond .comment-reply-title{
    display: none;
}
#respond .comment-form, #respond .comment-form .form-submit {
    margin-bottom: 0px;
}
#respond .comment-form .form-submit{
    margin: 15px 0px;
}
#comments .comments-list{
    border-top: 1px solid #e1e1e1;
    margin-top: 28px;
}
#comments .comments-list h4{
    margin: 25px 0px;
    font-weight: 500;
}
.logged-in-as{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
}
.td-form-comment {
    margin-top: 0;
    margin-bottom: 21px;
    width: 100%;
}
.comment-form textarea {
    display: block;
    width: inherit;
    border: 1px solid rgb(225, 225, 225);
}
.comment-form .td-warning-comment{
    display: none;
}
.form-submit .submit {
    width: 100%;
}
.form-submit input {
    background-color: #0167b1;
    line-height: 23px;
    color: white;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.comment-form-input-wrap.td-form-url {
    display: none;
}
.comment-form-author input, .comment-form-email input, .comment-form-phone input {
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    line-height: 21px;
}

.comment:first-child {
    border-top: none;
}
.comment:last-child {
    border-bottom: 0px;
}
.comment {
    list-style: none;
    margin-left: 0;
    padding-bottom: 13px;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 21px;
}
.comment p{
    font-size: 14px !important;
    line-height: 25px !important;
}
.comment .avatar {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50px;
}
.comment cite {
    font-family: Verdana, arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
}
.comment-link {
    font-size: 11px;
    line-height: 1;
    color: #666666;
    padding-left: 10px;
}
.comment .comment-content {
    margin-top: 7px;
    margin-left: 70px;
}
.comment .comment-content p{
    margin-bottom: 0px;
}
.comment-meta {
    margin-top: 3px;
    margin-left: 70px;
}
.comment-reply-link {
    font-size: 11px;
    color: #b4b4b4;
}
.comment .children {
    margin-left: 70px;
    padding-top: 16px;
    border-top: 1px dashed #ededed;
    margin-top: 13px;
}
.comment .children .comment:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.comment .children .comment .avatar {
    width: 36px;
    height: 36px;
    position: relative;
    top: 5px;
}
.comment .children .comment .comment-content {
    margin-left: 56px;
}
.comment .comment-content p:last-child {
    margin-bottom: 0;
}
.enc-title-pagination.link-expand-content{
    /*margin: 25px auto 0 auto;*/
    padding: 10px 20px;
    text-decoration: underline;
}
.single-post .comments .title-form-comments a{
    color: #1764cf;
}
@media (max-width: 991px){
    #respond {
        width: 100%;
    }
}
@media (max-width: 767px){

    .comments .comment-form .submit {
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 0;
        text-transform: uppercase;
        line-height: normal;
    }
    .postmatic-tooltip{
        margin-top: 10px;
        display: table;
        width: 100%;
    }
}
@media (max-width: 480px){
    #respond{
        border: 0px;
        padding: 0px;
    }
}
@media (max-width: 400px){
    #comments {
        padding: 10px 15px !important;
    }
    #comments h2 {
        font-size: 18px;
        line-height: 22px;
    }
}
