/****************************************/
/* MODULE 6 */
/****************************************/

.enc_module_6 {
    padding-bottom: 15px;
    position: relative;
    display: table;
    width: 100%;
}
.enc_module_6 .enc-module-thumb {
    float: left;
    margin-right: 10px;
}
.enc_module_6 .entry-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
    margin-left: 116px;
    min-height: 70px;
}
.item-position{
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: #324151;
    margin-top: 5px;
}
@media (max-width: 480px){
    .enc_module_6 .entry-title {
        margin-left: 40px;
        min-height: auto;
    }
}