/****************************************/
/* MODULO 4 */
/****************************************/
.enc_module_4 {
    margin-bottom: 30px;
}
.enc_module_4 .enc-module-thumb{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 200px;
}
.enc_module_4 .enc-module-thumb a{

}
.enc_module_4 .enc-module-thumb a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
    transition: all 0.5s ease;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.enc_module_4:hover .enc-module-thumb a img {
    transform: scale3d(1.1,1.1,1);
}
.enc_module_4 .enc-module-title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
}
.enc_module_4 .enc-module-title a{
    color: #000;
    display: inline;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom,#000 0%,#000 98%);
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all ease 0.31s;
}
.enc_module_4 .enc-module-title a:hover {
    background-size: 100% 1px;
}
.enc_module_4 .enc-excerpt{
    margin-top: 10px;
}
/*.enc_module_4 {
    padding-bottom: 30px;
}
.enc_module_4 .enc-excerpt {
    height: 65px;
    overflow: hidden;
}
.enc_module_4 .entry-title {
    height: auto;
    overflow: hidden;
    font-size: 21px;
    line-height: 25px;
    margin: 3px 0 6px;
}
.enc_module_4 .enc-module-thumb{
    height: 218px;
    overflow: hidden;
}
.enc_module_4 .enc-module-thumb img{
    width: 100%;
    height: 100%;
}
.enc_module_4.genfar .enc-module-thumb{
    height: 550px;
}
@media (max-width: 767px) {
    .enc_module_4 .entry-thumb {
        width: 100%;
    }
    .enc_module_4 .entry-title {
        height: auto;
    }
    .enc_module_4 .enc-excerpt {
        height: auto;
    }
}
@media (max-width: 480px) {
    .enc_module_4 .enc-module-thumb{
        height: auto;
    }
    .enc_module_4 .enc-module-thumb img{
        height: auto;
    }
}*/