/****************************************/
/* VISUAL COMPOSER */
/****************************************/
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.vc_row:after, .vc_row:before {
    content: " ";
    display: table;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
.vc_col-lg-1,.vc_col-lg-10,.vc_col-lg-11,.vc_col-lg-12,.vc_col-lg-2,.vc_col-lg-3,.vc_col-lg-4,.vc_col-lg-5,.vc_col-lg-6,.vc_col-lg-7,.vc_col-lg-8,.vc_col-lg-9,.vc_col-md-1,.vc_col-md-10,.vc_col-md-11,.vc_col-md-12,.vc_col-md-2,.vc_col-md-3,.vc_col-md-4,.vc_col-md-5,.vc_col-md-6,.vc_col-md-7,.vc_col-md-8,.vc_col-md-9,.vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9,.vc_col-xs-1,.vc_col-xs-10,.vc_col-xs-11,.vc_col-xs-12,.vc_col-xs-2,.vc_col-xs-3,.vc_col-xs-4,.vc_col-xs-5,.vc_col-xs-6,.vc_col-xs-7,.vc_col-xs-8,.vc_col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.vc_col-xs-1,.vc_col-xs-10,.vc_col-xs-11,.vc_col-xs-12,.vc_col-xs-2,.vc_col-xs-3,.vc_col-xs-4,.vc_col-xs-5,.vc_col-xs-6,.vc_col-xs-7,.vc_col-xs-8,.vc_col-xs-9 {
    float: left
}

.vc_col-xs-11 {
    width: 91.66666667%
}

.vc_col-xs-10 {
    width: 83.33333333%
}

.vc_col-xs-9 {
    width: 75%
}

.vc_col-xs-8 {
    width: 66.66666667%
}

.vc_col-xs-7 {
    width: 58.33333333%
}

.vc_col-xs-6 {
    width: 50%
}

.vc_col-xs-5 {
    width: 41.66666667%
}

.vc_col-xs-4 {
    width: 33.33333333%
}

.vc_col-xs-3 {
    width: 25%
}

.vc_col-xs-2 {
    width: 16.66666667%
}

.vc_col-xs-1 {
    width: 8.33333333%
}
@media (min-width: 768px) {
    .vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9 {
        float:left
    }

    .vc_col-sm-12 {
        width: 100%
    }

    .vc_col-sm-11 {
        width: 91.66666667%
    }

    .vc_col-sm-10 {
        width: 83.33333333%
    }

    .vc_col-sm-9 {
        width: 75%
    }

    .vc_col-sm-8 {
        width: 66.66666667%
    }

    .vc_col-sm-7 {
        width: 58.33333333%
    }

    .vc_col-sm-6 {
        width: 50%
    }

    .vc_col-sm-5 {
        width: 41.66666667%
    }

    .vc_col-sm-4 {
        width: 33.33333333%
    }

    .vc_col-sm-3 {
        width: 25%
    }

    .vc_col-sm-2 {
        width: 16.66666667%
    }

    .vc_col-sm-1 {
        width: 8.33333333%
    }
}
@media (min-width: 992px) {
    .vc_col-md-1,.vc_col-md-10,.vc_col-md-11,.vc_col-md-12,.vc_col-md-2,.vc_col-md-3,.vc_col-md-4,.vc_col-md-5,.vc_col-md-6,.vc_col-md-7,.vc_col-md-8,.vc_col-md-9 {
        float:left
    }

    .vc_col-md-12 {
        width: 100%
    }

    .vc_col-md-11 {
        width: 91.66666667%
    }

    .vc_col-md-10 {
        width: 83.33333333%
    }

    .vc_col-md-9 {
        width: 75%
    }

    .vc_col-md-8 {
        width: 66.66666667%
    }

    .vc_col-md-7 {
        width: 58.33333333%
    }

    .vc_col-md-6 {
        width: 50%
    }

    .vc_col-md-5 {
        width: 41.66666667%
    }

    .vc_col-md-4 {
        width: 33.33333333%
    }

    .vc_col-md-3 {
        width: 25%
    }

    .vc_col-md-2 {
        width: 16.66666667%
    }

    .vc_col-md-1 {
        width: 8.33333333%
    }
}
@media (min-width: 1200px) {
    .vc_hidden-lg {
        display:none!important
    }

    .vc_col-lg-1,.vc_col-lg-10,.vc_col-lg-11,.vc_col-lg-12,.vc_col-lg-2,.vc_col-lg-3,.vc_col-lg-4,.vc_col-lg-5,.vc_col-lg-6,.vc_col-lg-7,.vc_col-lg-8,.vc_col-lg-9 {
        float: left
    }

    .vc_col-lg-12 {
        width: 100%
    }

    .vc_col-lg-11 {
        width: 91.66666667%
    }

    .vc_col-lg-10 {
        width: 83.33333333%
    }

    .vc_col-lg-9 {
        width: 75%
    }

    .vc_col-lg-8 {
        width: 66.66666667%
    }

    .vc_col-lg-7 {
        width: 58.33333333%
    }

    .vc_col-lg-6 {
        width: 50%
    }

    .vc_col-lg-5 {
        width: 41.66666667%
    }

    .vc_col-lg-4 {
        width: 33.33333333%
    }

    .vc_col-lg-3 {
        width: 25%
    }

    .vc_col-lg-2 {
        width: 16.66666667%
    }

    .vc_col-lg-1 {
        width: 8.33333333%
    }
}
#content .wpb_alert p:last-child,#content .wpb_text_column :last-child,#content .wpb_text_column p:last-child,.vc_message_box>p:last-child,.wpb_alert p:last-child,.wpb_text_column :last-child,.wpb_text_column p:last-child {
    margin-bottom: 0
}
.wpb_content_element{
    margin-bottom: 35px
}

.wpb_accordion .wpb_content_element,.wpb_tab .wpb_content_element {
    margin-bottom: 21.74px
}
.wpb_content_element .wpb_tabs_nav,.wpb_content_element .wpb_tour_tabs_wrapper {
    padding: 0
}

.wpb_content_element .wpb_tabs_nav {
    margin: 0;
    padding-left: 0!important;
    text-indent: inherit!important
}

#content .wpb_content_element .wpb_tabs_nav {
    margin: 0
}

.wpb_content_element .wpb_tabs_nav li {
    background-color: #FFF;
    white-space: nowrap;
    padding: 0;
    background-image: none;
    list-style: none!important
}

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header,.wpb_content_element .wpb_tabs_nav li.ui-tabs-active,.wpb_content_element .wpb_tabs_nav li:hover,.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
    background-color: #f7f7f7
}

.wpb_content_element .wpb_tabs_nav li:after,.wpb_content_element .wpb_tabs_nav li:before {
    display: none!important
}

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_ui-tabs-hide {
    display: none
}

.wpb_content_element .wpb_accordion_header a,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a {
    border-bottom: none;
    text-decoration: none;
    display: block;
    padding: .5em 1em
}

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {
    padding: 1em
}

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content .wpb_row:last-child>div>div.wpb_wrapper .wpb_content_element:last-child,.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content>.wpb_content_element:last-child,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab .wpb_row:last-child>div>div.wpb_wrapper .wpb_content_element:last-child,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab>.wpb_content_element:last-child {
    margin-bottom: 0
}
.vc_clearfix:after,.vc_column-inner::after,.vc_el-clearfix,.vc_row:after {
    clear: both
}
.vc_row.vc_row-no-padding .vc_column-inner {
    padding-left: 0;
    padding-right: 0
}
.vc_ie-flexbox-fixer,.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .vc_row.vc_row-flex>.vc_column_container>.vc_column-inner>* {
        min-height: 1em
    }
}
.vc_row.vc_row-o-content-top>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.vc_row.vc_row-o-content-bottom>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.vc_row.vc_row-o-content-middle>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.vc_column-inner::after,.vc_column-inner::before {
    content: " ";
    display: table
}
.vc_col-has-fill>.vc_column-inner,.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,.vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,.vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,.vc_row-has-fill>.vc_column_container>.vc_column-inner,.vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,.vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,.vc_section.vc_section-has-fill,.vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section,.vc_section.vc_section-has-fill+.vc_section {
    padding-top: 35px
}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}
.vc_row.vc_row-flex>.vc_vc_column>.vc_column_container>.vc_column-inner,.vc_row.vc_row-flex>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.vc_row.vc_row-o-content-top>.vc_vc_column>.vc_column_container>.vc_column-inner,.vc_row.vc_row-o-content-top>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.vc_row.vc_row-o-content-bottom>.vc_vc_column>.vc_column_container>.vc_column-inner,.vc_row.vc_row-o-content-bottom>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.vc_row.vc_row-o-content-middle>.vc_vc_column>.vc_column_container>.vc_column-inner,.vc_row.vc_row-o-content-middle>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.vc_empty-element>.vc_column-inner {
    min-height: 100px
}
a.wpb_button_a {
    border: none
}
a.wpb_button_a,a.wpb_button_a:hover {
    text-decoration: none
}