/****************************************/
/* BIG GRID 1 */
/****************************************/
.enc_block_big_grid_1{
    display: table;
    width: 100%;
}
.enc_block_big_grid_1 .enc_module_mx5{
    float: left;
    margin-right: 3px;
    position: relative;
    overflow: hidden;
}
.enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb{
    width: 582px;
    height: 399px;
    background-color: #e5e5e5;
    overflow: hidden;
    margin: 0;
    position: relative;
}
.enc_block_big_grid_1 .enc-module-thumb a:last-child:before, .enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb a:last-child:before {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    z-index: 1;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0);
}
.enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb .entry-thumb, .enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb a .entry-thumb{
    transition: transform .3s ease,opacity .3s;
    -webkit-transition: -webkit-transform .3s ease,opacity .3s;
    transition-timing-function: ease!important;
    display: block;
}
.enc_block_big_grid_1 .enc_module_mx5 .entry-title{
    position: absolute;
    z-index: 1;
    bottom: 0;
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
    word-wrap: break-word;
    margin: 0px;
    width: 100%;
    padding: 10px 15% 10px 15px;
}
.enc_block_big_grid_1 .enc_module_mx5 .entry-title a {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.enc_block_big_grid_1 .enc-big-grid-scroll{

}

.enc_block_big_grid_1 .enc_module_mx6{

    float: left;
    position: relative;
    overflow: hidden;
}
.enc_block_big_grid_1 .enc_module_mx6.enc-big-grid-post-1{
    margin-bottom: 3px;
    margin-right: 3px;
}
.enc_block_big_grid_1 .enc_module_mx6.enc-big-grid-post-2{
    margin-bottom: 3px;
}
.enc_block_big_grid_1 .enc_module_mx6.enc-big-grid-post-3{
    margin-right: 3px;
}
.enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb{
    width: 290px;
    height: 198px;
    background-color: #e5e5e5;
    overflow: hidden;
    margin: 0;
}
.enc_block_big_grid_1 .enc_module_mx6 .entry-title{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    margin: 0px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    word-wrap: break-word;
    padding: 10px 11px;
}
.enc_block_big_grid_1 .enc_module_mx6 .entry-title a {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb .entry-thumb, .enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb a .entry-thumb{
    width: 100%;
    height: 100%;
}
@media (max-width: 1200px) and (min-width: 1019px){
    .enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb {
        width: 480px;
        height: 335px;
    }
    .enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb {
        width: 222px;
        height: 166px;
    }
}
@media (max-width: 1140px){
    .enc_block_big_grid_1 .enc_module_mx6 .entry-title {
        line-height: 1.4;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .entry-title {
        line-height: 1.3;
    }
}
@media (max-width: 1018px) and (min-width: 768px){
    .enc_block_big_grid_1 .enc_module_mx5{
        width: 50%;
    }
    .enc_block_big_grid_1 .enc_module_mx6{
        width: 24.5%;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb .entry-thumb, .enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb a .entry-thumb {
        height: 100%;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb {
        width: 100%;
        height: 335px;
    }
    .enc_block_big_grid_1 .enc_module_mx6 .enc-module-thumb {
        width: 100%;
        height: 166px;
    }
    .enc_block_big_grid_1 .enc_module_mx6 .entry-title {
        font-size: 80%;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .entry-title {
        font-size: 16px;
    }
}
@media (max-width: 767px){
    .enc_block_big_grid_1 .enc_module_mx5 {
        width: 100%;
        float: none;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb {
        width: 100%;
        height: auto;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .enc-module-thumb .entry-thumb{
        width: 100%;
    }
    .enc_block_big_grid_1 .enc_module_mx5 .entry-title {
        font-size: 22px;
    }
    .enc_block_big_grid_1 .enc_module_mx6 .entry-title {
        font-size: 16px;
        line-height: 21px;
    }
    .enc_block_big_grid_1 .enc-big-grid-scroll .enc-module-thumb {
        width: 100%;
        height: auto;
    }
    .enc_block_big_grid_1 .enc-big-grid-scroll .enc_module_mx6 {
        margin-left: 3px;
        margin-right: 0;
        margin-bottom: 0;
        display: inline-block;
        white-space: normal;
        float: none;
        vertical-align: top;
        width: 50%;
    }
    .enc_block_big_grid_1 .enc-big-grid-scroll .enc_module_mx6:first-child {
        margin-left: 0;
    }
    .enc_block_big_grid_1 .enc-big-grid-scroll {
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;
        overflow-y: hidden;
        padding-top: 3px;
        z-index: 0;
        -webkit-overflow-scrolling: touch;
        transform: translate3d(0,0,0);
    }
    .enc_block_big_grid_1 .enc-big-grid-scroll .enc_module_mx6 .entry-thumb {
        width: 100%;
    }
}
@media (max-width: 480px){
    .enc_block_big_grid_1 .enc-big-grid-scroll .enc_module_mx6 {
        width: 80%;
    }
}