/****************************************/
/* ENC MODULE 1 */
/****************************************/
.enc_module_1{
    display: table;
    width: 100%;
}
.enc_block_7 .enc-block-title{
    border-color: #324052;
    font-size: 15px;
    text-transform: uppercase;
}
.enc_block_7 .enc-block-title span {
    line-height: 24px;
    background-color: #324052;
    display: inline-block;
    padding: 7px 12px 4px;
    color: #fff;
}

@media (max-width: 768px) {
    .enc_block_11 .enc_block_inner .enc-row, .enc_block_7 .enc_block_inner .enc-row{
        margin-left: 0px;
        margin-right: 0px;
    }
}