/****************************************/
/* BLOCK 11 */
/****************************************/
.enc_block_11{
    display: table;
    width: 100%;
}
/****************************************/
/* MODULE 10 */
/****************************************/

.enc_module_10 {
    padding-bottom: 10px;
    display: table;
    width: 100%;
}
.enc_module_10 .enc-module-thumb {
    float: left;
    left: 0;
    top: 0;
    margin-bottom: 0px;
}
.enc_module_10 .item-details {
    margin-left: 244px;
    min-height: 150px;
}
.enc_module_10 .entry-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 5px;
    margin: 0 0 6px 0;
}
@media (max-width: 767px) {
    .enc_module_10 .enc-excerpt{
        margin-top: 0px;
    }
    .enc_module_10 .entry-title{
        margin-bottom: 3px;
    }
    .enc_module_10 .enc-module-thumb {
        width: 150px;
    }
    .enc_module_10 .item-details {
        margin-left: 170px;
        min-height: 103px;
    }
}
@media (max-width: 500px){
    .enc_module_10 .entry-title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }
    .enc_module_10 .enc-excerpt{
        line-height: 19px;
    }
    .enc_module_10 .enc-module-thumb {
        width: 100px;
    }
    .enc_module_10 .item-details {
        margin-left: 115px;
        min-height: 69px;
    }
}
