/****************************************/
/* + DE */
/****************************************/
.sidebar-catinfo-title{
    background-color: #324052;
    padding: 10px !important;
    float: none !important;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.sidebar-indice {
    margin-top: 0px;
    background-color: #f0f1f1;
    margin-bottom: 26px;
}
.indice {
    margin-top: 40px;
    list-style: none;
}
.sidebar-indice .indice {
    margin-top: 0px;
    margin-bottom: 0px;
}
.sidebar-indice .indice .item-indice {
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    border-bottom: 1px dotted #d4d4d4;
    width: 100%;
    display: table;
    margin-left: 0px;
}
.indice .item-indice a {
    color: #1b3f79;
}
.sidebar-indice-pagination {
    display: table;
    width: 100%;
}
.sb-btn-page {
    background-color: #324052;
    color: #FFFFFF !important;
    font-size: 20px;
    padding: 5px 15px;
}
.sidebar-indice .sb-btn-page{
    width: 45px;
    height: 32px;
    display: table;
}
.sb-btn-page-prev {
    float: left;
    /*background-image: url("./../images/sprites.png");
    background-repeat: no-repeat;
    background-position: -79px -25px;*/
}
.sb-btn-page-next {
    float: right;
    /*background-image: url("./../images/sprites.png");
    background-repeat: no-repeat;
    background-position: 10px -55px;*/
}
.sb-btn-page.disabled {
    background-color: rgb(141, 143, 146);
}
.sidebar-indice .indice .item-indice.current {
    border-left: 5px solid #324052;
    background-color: rgba(51, 65, 83, 0.11);
}
.pub-sidebar-title{
    background-color: #324052;
    display: table;
    width: 100%;
}
.pub-sidebar-title .pub-title-thumb{
    float: left;
    margin: 10px 10px 5px 10px;
}
.pub-sidebar-title .pub-title-text{
    margin: 0px;
    padding-top: 10px;
    line-height: 22px;
    padding-right: 10px;
    padding-left: 10px;
}
.pub-sidebar-title .pub-title-text a{
    color: #FFFFFF;
}
.pub-sidebar-title .pub-title-subtext{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.pub-sidebar-title .pub-title-subtext a{
    color: #f0f0f0;
}
@media (max-width: 1019px){
    .pub-sidebar-title .pub-title-text {
        font-size: 16px;
        line-height: 18px;
    }
}
@media (max-width: 768px){
    .pub-sidebar-title .pub-title-text {
        font-size: 22px;
        line-height: 24px;
    }
}
