/****************************************/
/* NUEVAS PUBLICACIONES EN CATEGORIAS */
/****************************************/
.loop-nuevas-pub{

}
@media (max-width: 767px) {
    .loop-nuevas-pub{

    }
}
