/****************************************/
/* Pagination */
/****************************************/


.enc-page-nav{
    margin: 10px 0 30px 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
    display: inline-block;
    width: 100%;
}
.enc-page-nav .current {
    border-color: #202124;
    background-color: #202124;
    color: #fff;
}
.enc-page-nav span {
    padding: 4px 11px;
    border: 1px solid #e3e3e3;
    display: inline-block;
    margin: 0 8px 8px 0;
    min-width: 33px;
    text-align: center;
    color: #666;
    line-height: 21px;
    float: left;
}
.enc-page-nav a {
    padding: 4px 11px;
    border: 1px solid #e3e3e3;
    display: inline-block;
    margin: 0 8px 8px 0;
    min-width: 33px;
    text-align: center;
    color: #666;
    line-height: 21px;
    float: left;
}
.enc-page-nav a.page-arrow-next, .enc-page-nav a.page-arrow-prev{
    padding: 2px 0px 0px 0px;
    line-height: 14px;
    background-color: #414958;
}
.enc-page-nav .enc-icon-menu-right{
    background-image: url("./../../images/sprites.png");
    background-repeat: no-repeat;
    background-position-x: -92px;
    background-position-y: -60px;
    width: 16px;
    height: 20px;
    float: left;
    position: relative;

}
.enc-page-nav .enc-icon-menu-left{
    background-image: url("./../../images/sprites.png");
    background-repeat: no-repeat;
    background-position-x: -36px;
    background-position-y: -61px;
    width: 16px;
    height: 20px;
    float: left;
}
.enc-page-nav a:hover .enc-icon-menu-right{
    background-image: url("./../../images/sprites.png");
    background-repeat: no-repeat;
    background-position-x: -7px;
    background-position-y: -61px;
    width: 16px;
    height: 20px;
    position: relative;
}
.enc-page-nav a:hover .enc-icon-menu-left{
    background-image: url("./../../images/sprites.png");
    background-repeat: no-repeat;
    background-position: -92px -31px;
    width: 16px;
    height: 20px;
    float: left;
}
.enc-page-nav a:hover {
    background-color: #202124;
    color: #fff;
}
.enc-page-nav .extend{
    border: none;
}
.enc-page-nav .pages{
    float: right;
    margin: 0;
    border: none;
    padding: 6px 0 6px 6px;
}
.enc-page-nav .page-buttons a:first-child{
    background-color: #202124;
    padding: 3px 5px;
    border: 0px solid #202124;
}
.enc-page-nav .page-buttons a:first-child img{
    display: block;
}
.enc-page-nav .page-buttons a:last-child{
    background-color: #202124;
    padding: 3px 5px;
    border: 0px solid #202124;
}
.enc-page-nav .page-buttons a:last-child img{
    display: block;
}