.mfp-wrap{
    z-index: 999999;
}
.mfp-bg{
    z-index: 99999;
}
.popup-wrapper{
    background-color: #FFFFFF;
    max-width: 500px;
    margin: 0 auto;
}
.popup-wrapper .popup-inner{
    padding: 30px;
}
.popup-inner .popup-title{
    margin: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 10px;
}
.popup-inner .popup-content{

}
.popup-inner .popup-primary-btn{
    background-color: #ff0000;
    color: #FFFFFF;
    padding: 5px 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
    display: table;
    width: 100%;
}