/****************************************/
/* DETALLE POST */
/****************************************/
.post header .entry-title {
    margin-top: 0;
    margin-bottom: 7px;
    word-wrap: break-word;
    font-size: 41px;
    line-height: 50px;
    font-weight: 200;
}
.enc-post-content {
    margin-top: 21px;
    padding-bottom: 16px;
}

.enc-post-content p, .enc-post-content {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.enc-post-content p {
    text-align: justify;
    word-wrap: break-word;
    margin-bottom: 26px;
}
.enc-post-featured-image {
    position: relative;
}
.enc-post-featured-image img {
    display: block;
    margin-bottom: 26px;
    width: auto;
}
.enc-post-content img {
    display: block;
}
.enc-post-content a {
    color: #0169b2;
}
.enc-smart-list-pagination.pub-pagination {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 26px;
    text-align: center;
}
.enc-smart-list-button {
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    background-color: #222;
    color: #fff;
    padding: 11px 24px;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    -webkit-transition: background-color 0.2s ease 0s;
    -moz-transition: background-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
    cursor: pointer;
    margin: 0 10px;
}
.enc-smart-list-button {
    background-color: #324052;
}
.enc-smart-list-pagination.pub-pagination .enc-smart-back {
    float: left;
}
.enc-smart-list-pagination.pub-pagination .enc-smart-list-button {
    padding: 0px 24px;
}
.enc-smart-list-pagination.pub-pagination .enc-smart-next {
    float: right;
}

.enc-smart-disable {
    background-color: #8d8f92 !important;
    cursor: default !important;
}
@media (max-width: 1019px) {
    .enc-post-content iframe{
        width: 100% !important;
    }
}


.enc-tabs-indice{

}
.enc-tabs-indice .enc-tabs-header{

}
.enc-tabs-indice .enc-tabs-header .enc-tab-item{
    width: 31px;
    height: 31px;
    margin-bottom: 10px;
}
.enc-tabs-indice .enc-tabs-header .enc-tab-item.tab-active{
    background-color: #324151;
    color: #FFFFFF;
}
.enc-tabs-indice .enc-tabs-content{
    margin-top: 10px;
}
.enc-tabs-indice .enc-tabs-content .enc-tabs-content-item{
    display: none;
    padding: 10px 15px;
    border: 1px solid #ddd;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.enc-tabs-indice .enc-tabs-content .enc-tabs-content-item.tab-active{
    display: block;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 575px){
    .post header .entry-title {
        font-size: 30px;
        line-height: 36px;
    }
}
