/****************************************/
/* Articulos similares */
/****************************************/
/*.enc_block_related_posts{
    display: table;
}
.enc_block_related_posts .enc-row{
    margin-left: -15px;
    margin-right: -15px;
}
.enc_block_related_posts h3.item-title, .enc_block_related_posts h3.entry-title{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 5px 0 5px;
    overflow: hidden;
}

@media (max-width: 575px) {
    .enc_block_related_posts .col-sm-3{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .enc_block_related_posts{
        width: 100%;
    }
    .enc_block_related_posts .item-cat{
        text-align: center;
        margin-bottom: 25px;
    }
    .enc_block_related_posts .enc_module_related_posts .entry-thumb{
        width: 100%;
    }
    .enc_block_related_posts h3.item-title, .enc_block_related_posts h3.entry-title{
        max-height: inherit;
        height: auto;
    }
    .enc_block_related_posts .enc_module_related_posts{
        margin-bottom: 25px;
    }
}*/