/****************************************/
/* Search Page */
/****************************************/
.search-results .enc-widget-search-input{
    width: 85%;
}
.search-results .wpb_button{
    padding: 12px 15px;
    border: 1px solid #253556;
}
.enc_search_subtitle {
    position: relative;
    top: 11px;
    left: 2px;
    font-size: 12px;
}
.search-page-search-wrap {
    margin: 37px 0 51px;
}
body.search .enc-page-header h1{
    margin-top: 0px;
}