/****************************************/
/* BUSCADOR LATERAL HOME */
/****************************************/
.wp-block-search{
    margin: 25px 0px;
    display: table;
    flex-wrap: inherit;
    width: 100%;
}
.wp-block-search label{
    margin-bottom: 3px;
    display: table;
}
.wp-block-search .wp-block-search__input{
    border-right: 0;
    height: 32px;
    line-height: 21px;
    position: relative;
    display: inline-table;
    vertical-align: middle;
    width: 70%;
}
.wp-block-search .wp-block-search__button{
    height: 42px;
    text-shadow: none;
    padding: 7px 15px 8px;
    line-height: 21px;
    margin: 0;
    background-color: #253556;
    width: 26%;
    display: inline-table;
    color: #FFFFFF;
}
@media (max-width: 1140px){
    .wp-block-search .wp-block-search__button{
        width: 24%;
    }
}
@media (max-width: 1019px){
    .wp-block-search .wp-block-search__button{
        width: 30%;
        padding: 0px;
    }
    .wp-block-search .wp-block-search__input{
        width: 63%;
    }
}
@media (max-width: 768px){
    .wp-block-search .wp-block-search__button{
        width: 26%;
    }
    .wp-block-search .wp-block-search__input{
        width: 70%;
    }
}
/****************************************/
/* ADICIONALES DEL HOME */
/****************************************/
.home .featured-cats, .home .featured-cats2{
    margin-bottom: 0px;
}
.home .featured-cats2 .wp-block-image img{
    width: 100%;
}
@media (min-width: 600px) and (max-width: 781px){
    .home-row-main .wp-block-column{
        flex-basis: 100%!important;
        margin-left: 0px !important;
    }
}
@media (min-width: 782px){
    .home .featured-cats .wp-block-column:not(:first-child) {
        margin-left: 5px;
    }
}
@media (max-width: 480px){
    .home .featured-cats figure, .home .featured-cats figure img, .home .featured-cats .wp-block-image{
        width: 100%;
        margin: 0px;
    }
}
@media (max-width: 768px){
    .spacer-home-2{
        display: none;
    }
    .home .featured-cats .wp-block-image figure, .home .featured-cats .wp-block-image figure img{
        width: 100%;
    }
}
