.home-col-derecha div[id^="div-gpt-"]{
    margin: 0 0 0 auto;
}
.home-col-derecha .home-social-container{
    text-align: right;
}

/****************************************/
/* SECCIONES DEL HOME */
/****************************************/
.ec-cards-home{

}
.ec-cards-home .enc-span4 {
    /*padding-left: 0;
    padding-right: 0px;
    margin-bottom: 5px;*/
}
.ec-cards-home .enc-module-container {
    overflow: hidden;
    margin: 0px 0px 30px 0px;
    position: relative;
}
.ec-cards-home .enc-module-container.col-1, .ec-cards-home .enc-module-container.col-4, .ec-cards-home .enc-module-container.col-7{
    /*margin-right: 2.5px;*/
}
/*.ec-cards-home .enc-module-container.col-3, .ec-cards-home .enc-module-container.col-6, .ec-cards-home .enc-module-container.col-9{
    margin-left: 2.5px;
}
.ec-cards-home .enc-module-container.col-2, .ec-cards-home .enc-module-container.col-5, .ec-cards-home .enc-module-container.col-8{
    margin-left: 2.5px;
    margin-right: 2.5px;
}*/
.ec-cards-home .enc-module-container.last-col .entry-title{
    width: 100%;
}
.ec-cards-home .card-home {
    position: relative;
    margin-bottom: 0;
}
.ec-cards-home .card-home img{
    display: table;
}
.ec-cards-home .enc-module-container .entry-title{
    width: calc(100% - 0px);
    padding: 0 17px;
    background-color: rgba(50,64,82,.8);
    padding-top: 6px;
    min-height: 1px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 17px;
    line-height: 21px;
    margin: 0px;
    padding-bottom: 6px;
}
/*.ec-cards-home .enc-module-container.col-2 .entry-title,
.ec-cards-home .enc-module-container.col-5 .entry-title,
.ec-cards-home .enc-module-container.col-8 .entry-title{
    width: calc(100% - 5px);
}*/
@media (max-width: 1019px) {
    .ec-cards-home .enc-module-container .entry-title{
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .ec-cards-home .enc-module-container .entry-title{
        font-size: 12px;
    }
}
@media (max-width: 575px) {
    .ec-cards-home .card-home img{
        width: 100%;
        height: auto;
    }
    .ec-cards-home .enc-module-container .entry-title{
        width: calc(100% - 2.5px) !important;
    }
    .ec-cards-home .enc-span4 {
        width: 50%;
        float: left;
        padding-right: 3px;
    }
    .ec-cards-home .enc-span4:first-child {
        width: 100%;
        padding: 0px;
    }
}
@media (max-width: 480px) {
    .ec-cards-home .enc-span4:first-child {
        width: 100%;
    }
    .ec-cards-home .enc-span4 {
        width: 100%;
        float: left;
        padding-right: 0;
    }
    .ec-cards-home .enc-row .enc-span4 .entry-thumb {
        max-width: 100%;
        width: 100%;
    }
    .ec-cards-home .enc-module-container .entry-title{
        width: 100% !important;
    }
}