/****************************************/
/* REDES SOCIALES EN CATEGORIA */
/****************************************/
.enc-post-sharing{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.enc-post-sharing-bottom {
    padding: 15px 20px 5px 20px;
    border: 1px solid #ededed;
    margin-bottom: 40px;
}
ul.social-share {
    list-style: none;
    display: inline-table;
    margin: 0px;
}
ul.social-share li {
    margin: 0px;
    float: left;
    height: 26px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}
