/****************************************/
/* PAGINA 404 */
/****************************************/
.enc-404-title{
    font-size: 40px !important;
    line-height: 1.25 !important;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 26px;
    text-align: center;
}
.enc-404-sub-title{
    color: #757575;
    font-size: 21px !important;
    line-height: 1.1 !important;
    text-align: center;
}
.enc-404-sub-sub-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.enc-404-sub-sub-title a{
    background-color: #253556;
    text-transform: uppercase !important;
    color: #fff;

    font-size: 13px;
    line-height: 39px;
    height: 41px;
    padding: 0 24px;

    display: inline-block;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    position: relative;
    pointer-events: auto!important;
}
