.author .enc-main-content-wrap{
    position: relative;
}
.author h1.enc-block-title-2{
    margin-top: 0px;
}
.author-section.dark{
    background-color: #202124;
}
.author-posts-section{
    margin-top: 45px;
}

.loading-posts{
    text-align: center;
    border: 1px dashed #cccccc;
    margin: 50px 0px;
    padding: 30px 20px;
    text-transform: uppercase;
    color: #666;
    display: table;
    width: 100%;
}
.post-author{
    padding: 40px 0px;
}
.post-author .author-img{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.post-author .post-author-icon{
    background-color: #036eb5;
    box-shadow: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-shadow: none;
    margin: 0 10px 0 0;
    min-width: 40px;
}
.post-author .author-info{

}
.post-author .author-title{
    color: #FFFFFF;
    margin: 0px;
}
.post-author .post-author-description{
    color: #FFFFFF;
}
.post-author ul.author-social{
    margin: 20px 0px 0px 0px;
    list-style-type: none;
}
.post-author ul.author-social li{
    display: inline-table;
    margin: 0px 10px 0px 0px;
}
.post-author .author-social-icon{
    display: table;
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: 18px;
    background-position: center;
}
.post-author .author-social-icon.icon-web{
    background-image: url("../images/icon_web.svg");
}
.post-author .author-social-icon.icon-facebook{
    background-image: url("../images/icon_facebook.svg");
}
.post-author .author-social-icon.icon-instagram{
    background-image: url("../images/icon_instagram.svg");
}
.post-author .author-social-icon.icon-twitter{
    background-image: url("../images/icon_twitter.svg");
}
.post-author .author-social-icon.icon-linkedin{
    background-image: url("../images/icon_linkedin.svg");
}
.enc-title-pagination{
    margin-top: 40px;
}