/****************************************/
/* BREADCRUMBS */
/****************************************/
.breadcrumb {
    background: #f7f7f7;
    position: relative;
    z-index: 3;
    transition: all ease 0.31s;
}
body.page .breadcrumb, body.search-results .breadcrumb{
    margin-bottom: 30px;
}
.breadcrumb ol.breadcrumb__list{
    margin: 0px;
    padding: 10px;
}
.breadcrumb ol.breadcrumb__list li{
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.breadcrumb ol.breadcrumb__list li.breadcrumb_last{
    color: #054ada;
}
.breadcrumb ol.breadcrumb__list li::after{
    content: "»";
    padding: 0px 10px 0px 13px;
}
.breadcrumb ol.breadcrumb__list li:last-child::after{
    display: none;
}
.breadcrumb ol.breadcrumb__list li a{
    color: #646464;
}
.breadcrumb ol.breadcrumb__list li a:hover{
    color: #054ada;
}
.breadcrumb-toggle-button.mobile-only {
    display: none;
}
@media (max-width: 991px) {
    .breadcrumb ol.breadcrumb__list{
        padding: 15px 0px;
    }
    .breadcrumb {
        max-height: 35px;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    .breadcrumb ol.breadcrumb__list{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .breadcrumb-toggle-button.mobile-only {
        display: initial;
    }
    .breadcrumb-toggle-button {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 0px;
        border: none;
        cursor: pointer;
        height: 22px;
        width: 22px;
        border-radius: 3px;
    }

    
}

