@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Bold.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Bold.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-BoldItalic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-BoldItalic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-BoldItalic.svg#IBMPlexSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBoldItalic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBoldItalic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBoldItalic.svg#IBMPlexSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBold.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBold.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Medium.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Medium.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Medium.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Medium.svg#IBMPlexSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-MediumItalic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-MediumItalic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-MediumItalic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-MediumItalic.svg#IBMPlexSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-LightItalic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-LightItalic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-LightItalic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-LightItalic.svg#IBMPlexSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLightItalic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLightItalic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLightItalic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLightItalic.svg#IBMPlexSans-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Italic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Italic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Italic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Italic.svg#IBMPlexSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Regular.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Regular.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Regular.svg#IBMPlexSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Light.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Light.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Light.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Light.svg#IBMPlexSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Thin.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Thin.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Thin.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-Thin.svg#IBMPlexSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ThinItalic.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ThinItalic.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ThinItalic.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ThinItalic.svg#IBMPlexSans-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLight.eot');
    src: url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLight.woff2') format('woff2'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLight.woff') format('woff'),
        url('/wp-content/themes/Encolombia/assets/fonts/IBMPlexSans-ExtraLight.svg#IBMPlexSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

