/****************************************/
/* GENERAL */
/****************************************/
.enc-block-title-1 {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1.4;
    z-index: 2;
    transition: all ease 0.31s;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0px;
    text-transform: uppercase;
}
.enc-block-title-1 .titledot{
    background: #0167b1;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 15px;
    display: inline-block;
    transition: all ease 0.31s;
}
.enc-block-title-1 .titleline{
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    flex-grow: 1;
    height: 4px;
    transition: all ease 0.31s;
}

.enc-block-title-2 {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1.4;
    z-index: 2;
    transition: all ease 0.31s;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px;
    text-transform: uppercase;
}
.enc-block-title-2 .titleline{
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    flex-grow: 1;
    height: 4px;
    transition: all ease 0.31s;
    color: #2962ff;
}
.enc-block-title-2 .titledot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #0167b1;
    display: inline-block;
    transition: all ease 0.31s;
    color: #0167b1;
}
.enc-block-title-2 .titledot.left{
    margin-right: 20px;
    margin-left: 15px;
}
.enc-block-title-2 .titledot.right{
    margin-right: 15px;
    margin-left: 20px;
}

.enc-excerpt {
    color: #333;
    margin-top: 9px;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}
.aligncenter {
    text-align: center;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
}
.alignleft {
    float: left;
    margin-top: 6px;
    margin-right: 24px;
    margin-bottom: 6px !important;
    margin-left: 0;
}
.alignright {
    float: right;
    margin-top: 6px;
    margin-right: 0;
    margin-bottom: 6px !important;
    margin-left: 24px;
}
.enc-admin-edit{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 3px 10px;
    z-index: 99999;
}

@media (max-width: 768px) {
    .enc-block-title-2 {
        font-size: 22px;
        line-height: 26px;
    }
}
@media (max-width: 575px) {
    .enc-block-title-1 {
        font-size: 18px;
    }
}

.featured-cats a {
    color: #324052;
}
.home .enc_block_11.ec-title-home .enc-block-title-1{
    display: block;
    text-align: center;
}
.container-adverts-top {
    margin-top: 30px;
    text-align: center;
}
.container-adverts-top .enc-container{
    padding: 0px;
}
.container-adverts-top.m{
    background-color: transparent;
}
.container-adverts-top aside{
    margin-bottom: 0px !important;
}
.hide-element{
    display: none !important;
}
.show-element{
    display: block !important;
}
/****************************************/
/* Buscador superior */
/****************************************/
.header-icon-area{
    margin-top: 3px;
}
.header-icon-area .search-icon a{
    color: #818181;
}
.header-icon-area .search-icon a:hover{
    color: #054ada;
}
#enc-header-search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f6fa;
    transform: scaleY(0);
    visibility: hidden;
    z-index: 150;
    transition: all 0.7s ease-in-out;
    transform-origin: 0 0 0;
}
#enc-header-search.open{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
#enc-header-search .close {
    position: fixed;
    top: 30px;
    right: 15px;
    margin: 0 auto;
    color: #000;
    border-radius: 4px;
    border: none;
    opacity: .5;
    visibility: visible;
    padding: 0;
    font-size: 70px;
    font-weight: 300;
    cursor: pointer;
    background: transparent;
    transition: all 300ms;
    z-index: 1;
}
#enc-header-search .enc-search-form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
#enc-header-search .enc-search-form input {
    width: 54%;
    height: 70px;
    color: #000;
    font-size: 24px;
    flex: initial;
    text-align: left;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    padding: 20px 35px 20px 0;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #0167b1;
    line-height: 28px;
}
#enc-header-search .enc-search-form button{
    padding: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-left: -32px;
    background: transparent;
    line-height: 29px;
    z-index: 12;
    transition: all 300ms;
}

@media (max-width: 768px) {
    #enc-header-search .enc-search-form input {
        width: 90%;
    }
}
/****************************************/
/* HEADER */
/****************************************/
#header {
    background: #fff;
    position: relative;
    z-index: 2;
}
.home #header {
    margin-bottom: 20px;
}
.main-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.top-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-sticky{
    position: fixed !important;
    width: 100%;
    z-index: 99999 !important;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 90px 0 rgb(0 0 0 / 10%);
}
.breadcrumb-sticky, .breadcrumb-sticky-m{
    position: fixed !important;
    top: 58px !important;
    width: 100% !important;
    z-index: 9999 !important;
}
.breadcrumb-sticky-m{
    top: 68px !important;
}
@media (max-width: 991px) {
    #header {
        display: none;
    }
}

/****************************************/
/* MOBILE HEADER */
/****************************************/
.mobile-header-bar{
    display: none;
}
.mobile-header-bar .mobile-header-bar-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid rgba(181,181,181,.3);
    float: none;
    position: relative;
    padding: 10px 15px;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.31s linear;
}
.mobile-header-bar .mobile-toggle-btn{
    font-size: 20px;
    cursor: pointer;
    color: #000;
    display: block;
    transition: all ease 0.31s;
}
.mobile-header-bar .mobile-toggle-btn .bar{
    background: #000;
    height: 2px;
    width: 25px;
    display: block;
    margin-bottom: 4px;
    transition: all ease 0.31s;
}
.mobile-header-bar .mobile-toggle-btn .bar:nth-child(2), .mobile-header-bar .mobile-toggle-btn .bar:nth-child(3) {
    width: 20px;
}
.mobile-header-bar .mobile-toggle-btn .bar:last-child {
    margin-bottom: 0;
}
body.slidemenuon .mobile-header-bar .mobile-toggle-btn .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px,5px);
}
body.slidemenuon .mobile-header-bar .mobile-toggle-btn .bar:nth-child(2), body.slidemenuon .mobile-header-bar .mobile-toggle-btn .bar:nth-child(3) {
    opacity: 0;
}
body.slidemenuon .mobile-header-bar .mobile-toggle-btn .bar:nth-child(4) {
    transform: rotate(-45deg) translate(8px,-8px);
}
.mobile-header-bar .mobile-logo{
}
.mobile-header-bar .mobile-logo img{

}
.mobile-header-bar .info{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.mobile-header-bar .info .search-icon{

}
.mobile-header-bar .info .search-icon a{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.mobile-menu{
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 99;
    display: none;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    box-shadow: 0 10px 10px 0 #0000001c;
}
.menu-mobilesinglemenu-container{
    display: block;
}
.menu-mobilesinglemenu-container > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-mobilesinglemenu-container > ul > li{
    position: relative;
    width: 100%;
    transition: inherit;
    transform: inherit;
    background: none;
    box-shadow: none;
    transform-origin: inherit;
    opacity: 1;
    visibility: visible;
    left: 0;
    border-bottom: 1px solid #e9e9e9;
    margin: 0px;
}
.menu-mobilesinglemenu-container > ul > li > a{
    display: block;
    position: relative;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    background: #fff;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 25px;
}
.menu-mobilesinglemenu-container > ul > li ul.sub-menu{
    border-top: 1px solid #e9e9e9;
    position: relative;
    width: 100%;
    transition: inherit;
    transform: inherit;
    background: none;
    box-shadow: none;
    transform-origin: inherit;
    opacity: 1;
    visibility: visible;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
.menu-mobilesinglemenu-container > ul > li ul.sub-menu li{
    position: relative;
    border-bottom: 1px solid #e9e9e9;
}
.menu-mobilesinglemenu-container > ul > li ul.sub-menu li>a{
    font-size: 14px;
    padding-bottom: 7px;
    padding-left: 30px;
    display: block;
    position: relative;
    color: #000;
    background: #fff;
    padding-top: 7px;
}
.menu-mobilesinglemenu-container > ul > li.menu-item-has-children > a::after{
    content: '+';
    display: inline-block;
    transition: .1s;
    right: 15px;
    font-weight: 500;
    position: absolute;
    font-size: 26px;
    color: #999;
}
.menu-mobilesinglemenu-container > ul > li.menu-item-has-children > a.open::after{
    content: '-';
}

@media (max-width: 991px) {
    .mobile-header-bar{
        display: block;
    }
}
/****************************************/
/* DESKTOP SINGLE MENU */
/****************************************/
.enc-header-menu-wrap nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.enc-header-menu-wrap nav ul li{
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    margin-left: 0px;
}
.enc-header-menu-wrap nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding: 25px 15px;
    text-transform: uppercase;
    transition: all ease 0.31s;
}
.enc-header-menu-wrap nav ul li a:hover {
    color: #054ada;
}
.header-sticky .enc-header-menu-wrap nav ul li a{
    padding: 17px 15px;
}
@media (max-width: 1305px) {
    .enc-header-menu-wrap nav ul li a {
        padding: 25px 8px;
    }
    .header-sticky .enc-header-menu-wrap nav ul li a{
        padding: 17px 8px;
    }
}
@media (max-width: 1200px) {
    .enc-header-menu-wrap nav ul li a {
        padding: 25px 3px;
        font-size: 13px;
    }
    .header-sticky .enc-header-menu-wrap nav ul li a{
        padding: 17px 3px;
    }
    .site-logo{
        max-width: 130px;
        height: 27px !important;
    }
}
/****************************************/
/* ADVERDS */
/****************************************/
.home pubguru {
    margin: 0 auto;
    display: table;
}
aside[class^="widget"]{
    margin-bottom: 30px;
    clear: both;
}
.container-adverts-top div[id^="div-gpt-ad-"],
.in-category-list div[id^="div-gpt-ad-"], .in-category-list-12 div[id^="div-gpt-ad-"],
.in-category-list-18 div[id^="div-gpt-ad-"], .nuevas-publicaciones-centrado-1 div[id^="div-gpt-ad-"],
.nuevas-publicaciones-centrado-10 div[id^="div-gpt-ad-"], .nuevas-publicaciones-centrado-3 div[id^="div-gpt-ad-"],
.nuevas-publicaciones-centrado-4 div[id^="div-gpt-ad-"], .nuevas-publicaciones-centrado-6 div[id^="div-gpt-ad-"],
.in-category-list-4 div[id^="div-gpt-ad-"],
.post-content .demand-supply, .post-content div[id^="div-gpt-ad-"],
.home div[id^="div-gpt-ad-"]{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
div[class*="enc_mob_inline"], aside[class*="enc_mob_inline"],
div[class*="enc_inline"], div[class*="enc_sidebar"],
aside[class*="enc_inline"], aside[class*="enc_sidebar"],
div[class*="enc_sponsoredcategory_inline_pos"], div[class*="enc_sponsoredcategory_rr_pos"],
aside[class*="enc_sponsoredcategory_inline_pos"], aside[class*="enc_sponsoredcategory_rr_pos"], aside[class*="enc_sponsoredvideo"]
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px auto;
    width: 100%;
}
/*aside[class*="enc_video"]{
    width: 100%;
}*/
.in-category-list, .in-category-list-12, .in-category-list-18, .nuevas-publicaciones-centrado-1, .nuevas-publicaciones-centrado-10,
.nuevas-publicaciones-centrado-3, .nuevas-publicaciones-centrado-4, .nuevas-publicaciones-centrado-6,.in-category-list-4{
    padding-left: 15px;
    padding-right: 15px;
}
.post-content .demand-supply, .post-content div[id^="div-gpt-ad-"]{
    margin: 15px 0px;
    margin: 0 auto;
}
aside[class~="in-article-"]{
    clear: both;
}
.cc-banner.cc-theme-edgeless .cc-btn{
    padding: 40px 1.8em;
}
@media (max-width: 480px){
    .container-adverts-top aside[class^="widget"] {
        margin-bottom: 0px;
    }
    .cc-banner.cc-theme-edgeless .cc-btn{
        padding: .8em 1.8em;
    }
}

#sticky-admanager{
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
#sticky-admanager aside{
    margin-bottom: 0px;
}
.sticky-bottom{
    margin: 0px !important;
}
#td-outer-wrap + div{
    line-height: 0;
}
.cc-theme-edgeless.cc-window{
    z-index: 999999;
}
pubguru .pg-ad-label{
    padding-top: 0px !important;
}
/*.widget.enc_video{
    display: table;
    width: 100%;
}
.widget.enc_video .custom-html-widget{
    max-width: 800px;
    margin: 0 auto;
}*/

/****************************************/
/* CLS */
/****************************************/
/*aside[class*="enc_video"], div[class*="enc_video"]{
    margin-bottom: 0px;
    min-height: 0px;
    height: 0px;
}*/
div[id="encolombia.com_anchor"]{
    left: 368px !important;
}
.container-adverts-top pubguru{
    min-height: 277px;
}
aside[class*="enc_video"] pubguru{
    width: 100%;
    min-height: 560px;
}
aside[class*="enc_inline"] pubguru, div[class*="enc_inline"] pubguru{
    min-height: 288px;
}
aside[class*="enc_sidebar1"] pubguru, div[class*="enc_sidebar1"] pubguru{
    min-height: 625px;
}
aside[class*="enc_sidebar2"] pubguru, div[class*="enc_sidebar2"] pubguru,
aside[class*="enc_sidebar3"] pubguru, div[class*="enc_sidebar3"] pubguru{
    min-height: 288px;
}
/*aside[class*="enc_category_inline_"] pubguru, div[class*="enc_category_inline_"] pubguru{
    min-height: 288px;
}
aside[class*="enc_category_rr_pos1"] pubguru, div[class*="enc_category_rr_pos1"] pubguru{
    min-height: 625px;
}
aside[class*="enc_category_rr_pos2"] pubguru, div[class*="enc_category_rr_pos2"] pubguru,
aside[class*="enc_category_rr_pos3"] pubguru, div[class*="enc_category_rr_pos3"] pubguru{
    min-height: 288px;
}*/
aside[class*="enc_sponsoredpost_inline_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredpost_inline_"] div[id^="div-gpt-ad-"]{
    min-height: 250px;
}
aside[class*="enc_sponsoredpost_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredpost_rr_"] div[id^="div-gpt-ad-"]{
    min-height: 600px;
}

aside[class*="enc_sponsoredcategory_inline_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredcategory_inline_"] div[id^="div-gpt-ad-"]{
    min-height: 250px;
}
aside[class*="enc_sponsoredcategory_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredcategory_rr_"] div[id^="div-gpt-ad-"]{
    min-height: 600px;
}
/*.home pubguru[data-pg-ad="MM_ENC_Post_Inline_Pos1"],
.home pubguru[data-pg-ad="MM_ENC_Post_Inline_Pos3"],
.home pubguru[data-pg-ad="MM_ENC_Post_RR_Pos2"],
.home pubguru[data-pg-ad="MM_ENC_Post_Inline_Pos4"]{
    min-height: 277px;
}
.home pubguru[data-pg-ad="MM_ENC_Post_RR_Pos1"]{
    min-height: 627px;
}*/

@media screen and (max-width: 900px) {
    aside[class*="enc_sponsoredpost_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredpost_rr_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    aside[class*="enc_sponsoredcategory_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredcategory_rr_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }

}
/*@media screen and (max-width: 768px) {
    .container-adverts-top pubguru{
        min-height: 127px;
    }
    aside[class*="enc_post_rr_"] pubguru, div[class*="enc_post_rr_"] pubguru{
        min-height: 288px;
    }
    aside[class*="enc_category_inline_"] pubguru, div[class*="enc_category_inline_"] pubguru{
        min-height: 288px;
    }
    aside[class*="enc_category_rr_"] pubguru, div[class*="enc_category_rr_"] pubguru{
        min-height: 288px;
    }
    .home pubguru[data-pg-ad="MM_ENC_Post_RR_Pos1"]{
        min-height: 277px;
    }
    
}*/

/*.container-adverts-top div[id^="div-gpt-ad-"]{
    min-height: 250px;
}
aside[class*="enc_post_inline_"] div[id^="div-gpt-ad-"], div[class*="enc_post_inline_"] div[id^="div-gpt-ad-"]{
    min-height: 90px;
}
aside[class*="enc_post_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_post_rr_"] div[id^="div-gpt-ad-"]{
    min-height: 600px;
}

aside[class*="enc_video"] .pg-ad-label, div[class*="enc_video"] .pg-ad-label{
    display: none;
}
aside[class*="enc_video"] div[id^="div-gpt-ad-"], div[class*="enc_video"] div[id^="div-gpt-ad-"]{
    min-height: 1px;
    height: 1px;
}
aside[class*="enc_category_inline_"] div[id^="div-gpt-ad-"], div[class*="enc_category_inline_"] div[id^="div-gpt-ad-"]{
    min-height: 90px;
}
aside[class*="enc_category_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_category_rr_"] div[id^="div-gpt-ad-"]{
    min-height: 600px;
}
div[class*="enc_home_inline_pos1"] div[id^="div-gpt-ad-"]{
    min-height: 90px;
}
div[class*="enc_home_inline_pos2"] div[id^="div-gpt-ad-"]{
    min-height: 280px;
}
div[class*="enc_home_inline_pos3"] div[id^="div-gpt-ad-"]{
    min-height: 250px;
}
div[class*="enc_home_rr_"] div[id^="div-gpt-ad-"]{
    min-height: 250px;
}
@media screen and (max-width: 1200px) {
    .container-adverts-top div[id^="div-gpt-ad-"]{
        min-height: 100px;
    }
    aside[class*="enc_post_inline_"] div[id^="div-gpt-ad-"], div[class*="enc_post_inline_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    aside[class*="enc_category_inline_"] div[id^="div-gpt-ad-"], div[class*="enc_category_inline_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    div[class*="enc_home_inline_pos2"] div[id^="div-gpt-ad-"]{
        min-height: 380px;
    }
    div[class*="enc_home_inline_pos3"] div[id^="div-gpt-ad-"]{
        min-height: 280px;
    }

}
@media screen and (max-width: 900px) {
    aside[class*="enc_post_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_post_rr_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    aside[class*="enc_category_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_category_rr_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    div[class*="enc_home_inline_pos1"] div[id^="div-gpt-ad-"]{
        min-height: 50px;
    }
    div[class*="enc_home_inline_pos2"] div[id^="div-gpt-ad-"]{
        min-height: 50px;
    }
    div[class*="enc_home_inline_pos3"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    aside[class*="enc_sponsoredpost_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredpost_rr_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }
    aside[class*="enc_sponsoredcategory_rr_"] div[id^="div-gpt-ad-"], div[class*="enc_sponsoredcategory_rr_"] div[id^="div-gpt-ad-"]{
        min-height: 250px;
    }

}*/
/*@media screen and (max-width: 480px) {
    aside[class*="enc_video"] div[id^="div-gpt-ad-"], div[class*="enc_video"] div[id^="div-gpt-ad-"]{
        min-height: 220px;
    }
}*/




.after-featured-image, .after-featured-image div{
    height: 250px;
    width: 320px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

div[id^="google_ads_iframe_/1020006/Video_parrafo_"], div[id^="google_ads_iframe_/1020006/Video_parrafo_"] iframe{
    width: 100%;
    height: 310px;
}

@media (min-width: 480px){
    div[id^="google_ads_iframe_/1020006/Video_parrafo_"], div[id^="google_ads_iframe_/1020006/Video_parrafo_"] iframe{
        width: 100%;
        height: 435px;
    }
}
@media (min-width: 768px){
    div[id^="google_ads_iframe_/1020006/Video_parrafo_"], div[id^="google_ads_iframe_/1020006/Video_parrafo_"] iframe{
        width: 100%;
        height: 350px;
    }
}
@media (min-width: 992px){
    div[id^="google_ads_iframe_/1020006/Video_parrafo_"], div[id^="google_ads_iframe_/1020006/Video_parrafo_"] iframe{
        width: 600px;
        height: 380px;
    }
}
@media (min-width: 1200px){
    div[id^="google_ads_iframe_/1020006/Video_parrafo_"], div[id^="google_ads_iframe_/1020006/Video_parrafo_"] iframe{
        width: 770px;
        height: 480px;
    }
}


/****************************************/
/* FOOTER */
/****************************************/
.enc-footer{
    background-color: #202124;
    margin-top: 30px;
}
.enc-sub-footer-container {
    border-top: 1px solid #252525;
    font-size: 15px;
    text-align: center;
    padding: 25px 0;
    position: relative;
    background-color: #000000;
}
.enc-sub-footer-copy {
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #aaaaaa;
    text-align: left;
}
.enc-subfooter-menu {
    display: inline-block;
    margin: 7px 0;
    float: right;
}
.enc-subfooter-menu li {
    display: inline-block;
    margin-left: 0;
    line-height: 18px;
}
.enc-subfooter-menu li a {
    color: #aaaaaa;
    margin-right: 16px;
    line-height: 18px;
    display: inline-block;
}
.enc-subfooter-menu li a:hover{
    color: #ffffff;
}
.enc-footer-wrapper {
    color: #414042;
    position: relative;
    margin-top: 0px;
    font-size: 16px;
    border-top: none;
    padding: 40px 0 30px;
}
.footer-social-container{
    text-align: center;
}
.footer-social-container .enc-social-icon-wrap:last-child{
    margin-right: 0px;
}
.enc-social-icon-wrap {
    display: inline-block;
    margin: 5px 10px 10px 0;
}
.enc-social-icon-wrap>a {
    display: inline-block;
}
.enc-social-icon-wrap .enc-icon {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #fff;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(255,255,255,.102);
    transition: all 0.4s ease;
}
.enc-social-icon-wrap .enc-icon-facebook{
    background-image: url("./../images/icon-facebook.png");
}
.enc-social-icon-wrap .enc-icon-pinterest{
    background-image: url("./../images/icon-pinterest.png");
}
.enc-social-icon-wrap .enc-icon-youtube {
    background-image: url("./../images/icon-youtube.png");
}

.enc-social-icon-wrap .enc-icon-facebook:hover{
    background-color: #3b5998;
}
.enc-social-icon-wrap .enc-icon-pinterest:hover{
    background-color: #bd081c;
}
.enc-social-icon-wrap .enc-icon-youtube:hover {
    background-color: #fc0f19;
}
.footer-title{
    display: block;
    position: relative;
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
ul.ec-menu-footer{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul.ec-menu-footer li{
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 20px;
    position: relative;
}
ul.ec-menu-footer li a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 0;
    transition: all 140ms ease-in-out;
    text-transform: uppercase;
}
ul.ec-menu-footer li a:hover{
    color: #D0D0D0;
}
ul.ec-menu-footer li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #a5a5a5;
    transition: all 0.3s ease;
}
ul.ec-menu-footer li:hover::before{
    background-color: #2962ff;
}
.menu-footer-categorias-2-container, .menu-footer-categorias-3-container{
    margin-top: 82px;
}
@media (max-width: 1200px) {
    ul.ec-menu-footer li a {
        font-size: 12px;
        line-height: 17px;
    }
}
@media (max-width: 991px) {
    ul.ec-menu-footer li::before{
        display: none;
    }
    ul.ec-menu-footer li{
        padding-left: 0px !important;
    }
}
@media (max-width: 575px) {
    /*.col-cat-menu-1, .col-cat-menu-2{
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }*/
    .enc-footer-wrapper{
        padding-top: 40px;
    }
    .enc-sub-footer-copy{
        text-align: center;
    }
    .enc-subfooter-menu{
        float: none;
    }
    .footer-title{
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    ul.ec-menu-footer li a{
        font-size: 13px;
    }
    .footer-logo-wrap{
        text-align: center;
    }
    .ec-menu-footer{
        text-align: center;
    }
    .menu-footer-categorias-2-container, .menu-footer-categorias-3-container{
        margin-top: 0px;
    }
}