/****************************************/
/* GENFAR */
/****************************************/
.page_genfar ul.enc-category{
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1;
}
.page_genfar ul.enc-category li.entry-category{
    display: inline-block;
    margin: 0 5px 5px 0;
    line-height: 30px;
}
.page_genfar ul.enc-category li.entry-category a {
    background-color: #f0f0f0;
    color: #111;
    font-size: 20px;
    padding: 8px;
}
.page_genfar .sidebar-catinfo-title {
    background-color: #f0f0f0;
    color: #111;
}
.page_genfar .sidebar-indice {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}
.page_genfar .sidebar-indice .indice .item-indice {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 0 !important;
}
.page_genfar .genfar-sidebar-list {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.page_genfar .genfar-sidebar-list .sidebar-indice .indice .item-indice a {
    color: #0169b2;
}
