/****************************************/
/* MODULO 1 */
/****************************************/
.enc_module_1 {
    margin-bottom: 30px;
}
.enc_module_1 .enc-module-thumb{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 203px;
}
.enc_module_1 .enc-module-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
    transition: all 0.5s ease;
}
.enc_module_1:hover .enc-module-thumb img {
    transform: scale3d(1.1,1.1,1);
}
.enc_module_1 .entry-content{
    position: relative;
}
.enc_module_1 .entry-content .enc-module-title{
    font-size: 20px;
    line-height: 25px;
    margin: 0px;
    font-weight: 500;
}
.enc_module_1 .entry-content .enc-module-title a{
    color: #000;
    display: inline;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom,#000 0%,#000 98%);
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all 0.7s;
}
@media (max-width: 1200px) {
    .enc_module_1 .enc-module-thumb{
        height: 150px;
    }
}
@media (max-width: 991px) {
    .enc_module_1 .enc-module-thumb{
        height: 203px;
    }
}
@media (max-width: 575px) {
    .enc_module_1 .enc-module-thumb{
        height: auto;
    }
}