/****************************************/
/* DETALLE POST */
/****************************************/
.single-post div.hentry > header{
    position: relative;
    margin: 0px 0px 30px 0px;
    padding: 0px;
}
.single-post div.hentry > header .entry-thumbnail-area{
    position: relative;
}
.single-post div.hentry > header .entry-thumbnail-area.no-img{
    min-height: 290px;
    background-color: #0167b1;
}
.single-post div.hentry > header .entry-thumbnail-area::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 59%,rgba(0,0,0,.8) 100%);
    z-index: 0;
}
.single-post div.hentry header .entry-thumbnail-area .enc-post-featured-image{

}
.single-post div.hentry header .entry-thumbnail-area .enc-post-featured-image img{
    width: 100%;
    max-height: 430px;
    min-height: 320px;
    object-fit: cover;
    border-radius: 0;
    height: auto;
    max-width: 100%;
    margin-bottom: -5px;
}
.single-post div.hentry > header .meta-fixed{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    margin: 0 auto 20px auto;
}
.single-post div.hentry{
    /*max-width: 700px;
    position: relative;
    margin: 0 auto;*/
}
.single-post div.hentry .post-main-content{
    position: relative;
    margin-top: 30px;
}
.single-post div.hentry header .post-category{


}
.single-post div.hentry header .post-category ul{
    margin: 0px;
    list-style-type: none;
}
.single-post div.hentry header .post-category ul li{
    display: inline-block;
    position: relative;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}
.single-post div.hentry header .post-category ul li a{
    background-color: #202124;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    font-weight: 500;
    padding: 6px 9px 5px;
    line-height: 1;
    letter-spacing: .8px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
}
.single-post div.hentry header .post-category ul li a:hover{
    background-color: #0167b1;
}
.single-post div.hentry header .entry-title{
    color: #FFFFFF;
    margin: 10px 0px;
    line-height: 49px;
    transition: all ease 0.31s;
    text-align: left;
    font-size: 45px;
    word-wrap: normal;
    font-weight: 700;
}
.single-post .post-content, .single-post .post-content p{
    color: #333;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    text-align: justify;
    word-wrap: break-word;
}
.single-post .post-content p{
    margin-bottom: 15px;
}
.single-post .post-content h2{
    font-size: 35px;
    line-height: 39px;
    font-weight: 700;
}
.single-post .post-content img{
    border-radius: 4px;
    display: block;
}
.single-post div.hentry .post-share{
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.single-post div.hentry .post-share h4{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    min-width: 115px;
}
.single-post div.hentry .post-share .eapps-social-share-buttons{
    top: 40px;
}
.single-post div.hentry .post-main-content .post-nav-left{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-right: 15px;
}
.single-post div.hentry .post-main-content .post-nav-left > div.list{
    position: sticky;
    top: 50px;
    padding: 12px 0;
    margin-bottom: 20px;
    border-right: 1px solid #e7e7e7;
    overflow-y: auto;
    max-height: calc(100vh - 50px - 20px);
    min-height: 225px;
}
.single-post div.hentry .post-main-content .post-nav-left .nav-title{
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}
.single-post div.hentry .post-main-content .post-nav-left ol{
    margin: 0 !important;
    counter-reset: li;
    padding: 0;
    list-style-type: none;
}
.single-post div.hentry .post-main-content .post-nav-left ol li{
    position: relative;
    padding: 4px 8px 4px 32px;
    line-height: 20px;
    margin: 0px;
}
.single-post div.hentry .post-main-content .post-nav-left ol li.active{
    background-color: #f0f0f0;
}
.single-post div.hentry .post-main-content .post-nav-left ol li::before{
    content: counter(li) ". ";
    counter-increment: li;
    position: absolute;
    left: 0;
    width: 28px;
    top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: rgba(51,51,51,.4);
}
.single-post div.hentry .post-main-content .post-nav-left ol li a{
    font-size: 14px;
}
.single-post div.hentry .post-main-content .post-nav-left .nav-buttons{
    margin-top: 15px;
    display: table;
    width: 100%;
}
.single-post div.hentry .post-main-content .post-nav-left .nav-buttons button {
    background-color: #054ada;
    color: #FFFFFF;
    border: 0px;
    padding: 5px 15px;
}
.single-post div.hentry .post-main-content .post-nav-left .nav-buttons button[disabled] {
    background-color: #f1f1f1;
    color: #cccccc;
    cursor: not-allowed;
}
.single-post div.hentry .post-main-content .post-nav-left .nav-buttons #previous-btn{
    float: left;
}
.single-post div.hentry .post-main-content .post-nav-left .nav-buttons #next-btn{
    float: right;
}
.single .enc-progress-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.single.admin-bar .enc-progress-container{
    top: 32px;
}

.single .enc-progress-bar {
    height: 4px;
    background: linear-gradient(90deg,#2962ff 0%,#0167b1 100%);
    width: 0%;
}
.single .post-content .post-inner.async{
    border-top: 3px solid #e7e7e7;
    padding-top: 30px;
    margin-top: 30px;
}
.single .post-inner header {
    margin-bottom: 30px;
}
.single .post-content pubguru{
    display: table !important;
    text-align: center;
    margin: 20px auto;
}
.bottom-post-related1{
    margin-top: 40px;
    padding: 0px;
}
.bottom-post-related2{
    padding: 40px 0px;
}
.loading-post{
    text-align: center;
    border: 1px dashed #cccccc;
    margin: 50px 0px;
    padding: 30px 20px;
    text-transform: uppercase;
    color: #666;
}
.next-post{
    text-align: center;
    border: 1px dashed #cccccc;
    margin: 50px 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #666;
}
.next-post a{
    display: block;
    padding: 30px 20px;
    color: #666;
}
.next-post a:hover{
    color: #054ada;
}
.btn-more-cat{
    text-align: center;
    background-color: #275f01;
    margin: 50px 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-more-cat:hover{
    background-color: #000000;
}
.btn-more-cat a{
    color: #ffffff;
    font-size: 20px;
    display: block;
    padding: 30px 20px;
}
.btn-more-cat a:hover{
    color: #FFFFFF;
}
.bottom-post-related1 .after-content-widget-area{
    margin: 0 auto;
    max-width: 900px;
}
.bottom-post-related1 .after-content-widget-area table{
    margin: 0 auto;
}
.after-content-widget-area .enc_module_1 br{
    display: none;
}
.after-content-widget-area .enc_module_1 .entry-content .enc-module-title{
    font-size: 16px;
    line-height: 22px;
}
.after-content-widget-area .enc_module_1 .enc-module-thumb{
    margin-bottom: 7px;
}
@media (max-width: 1100px){
    .after-content-widget-area .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.sb-sticky-ad{
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
}
ul.post-meta{
    margin-bottom: 15px;
    padding-left: 0;
    position: relative;
    display: table;
    width: 100%;
}
ul.post-meta li{
    font-size: 14px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
    font-weight: 400;
    color: #666;
    line-height: 28px;
    margin-right: 20px;
    margin-left: 0px;
}
ul.post-meta li:last-child{
    margin-right: 0px;
}
ul.post-meta li.author-info .post-author-icon{
    background-color: #036eb5;
    box-shadow: none;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    width: 25px;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    color: #fff;
    text-shadow: none;
}
ul.post-meta li.author-info a{
    color: #FFFFFF;
    margin-left: 6px;
    font-weight: 600;
    text-transform: capitalize;
}
.post-author{
    border-style: dashed;
    border-color:#e1e3ea;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    display: flex;
}
.post-author .author-img{
    display: inline-table;
    width: 15%;
    text-align: center;
    margin-right: 25px;
    line-height: 22px;
}
.post-author .author-img a{
    font-size: 13px;
    line-height: 20px;
    color: #111111;
    font-weight: 600;
}
.post-author .author-img .post-author-icon{
    background-color: #036eb5;
    box-shadow: none;
    border-radius: 100%;
    display: table;
    height: 70px;
    width: 70px;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    text-shadow: none;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.post-author .author-info{
    display: inline-table;
    width: 80%;
}
.post-author .author-info a{

}
.post-author .author-info p{
    margin: 0px;
    font-size: 13px;
    line-height: 25px;
}
.post-author ul.author-social{
    margin: 20px 0px 0px 0px;
    list-style-type: none;
}
.post-author ul.author-social li{
    display: inline-table;
    margin: 0px 10px 0px 0px;
}
.post-author .author-social-icon{
    display: table;
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 18px;
    background-position: center;
    border: 1px solid #e7e7e7;
}
.post-author .author-social-icon.icon-web{
    background-image: url("../images/icon_web.svg");
}
.post-author .author-social-icon.icon-facebook{
    background-image: url("../images/icon_facebook.svg");
}
.post-author .author-social-icon.icon-instagram{
    background-image: url("../images/icon_instagram.svg");
}
.post-author .author-social-icon.icon-twitter{
    background-image: url("../images/icon_twitter.svg");
}
.post-author .author-social-icon.icon-linkedin{
    background-image: url("../images/icon_linkedin.svg");
}

@media (max-width: 1019px){
    .post-content iframe {
        width: 100% !important;
    }
}
@media (max-width: 768px){
    .single-post div.hentry .post-main-content .post-nav-left{
        position: relative;
        background-color: #f7f7f7;
        padding: 15px;
        margin-bottom: 20px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -30px;
    }
    .single-post div.hentry .post-main-content .post-nav-left > div.list{
        border-right: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        max-height: 225px;
    }
}
@media (max-width: 575px){

    .single-post div.hentry header .entry-title {
        line-height: 34px;
        font-size: 30px;
    }
    .single-post div.hentry .post-share{
        display: block;
        height: 128px !important;
    }
    .single-post div.hentry .post-share h4{
        display: block;
        margin: 0px 0px 0px 10px;
    }
    .single-post div.hentry .post-share .eapps-social-share-buttons {
        top: 30px;
    }
    .single-post div.hentry .post-main-content .post-nav-left ol li::before{
        display: none;
    }
    .single-post div.hentry .post-main-content .post-nav-left ol li{
        padding-left: 5px;
    }
    .single-post .post-content h2{
        font-size: 25px;
        line-height: 30px;
        text-align: left;
    }
    .single-post div.hentry .post-main-content .post-nav-left .nav-title{
        margin-left: 5px;
    }
    .post-author{
        display: block;
        padding: 20px;
    }
    .post-author .author-img, .post-author .author-info{
        display: block;
        width: 100%;
    }
    .post-author .author-img{
        margin-bottom: 20px;
    }
}
@media (max-width: 400px){
    .single-post div.hentry .post-share .eapps-social-share-buttons {
        top: 55px;
    }
    .single-post div.hentry .post-share {
        height: 180px !important;
    }
    .enc-block-title-1 {
        font-size: 16px;
    }
}
