/****************************************/
/* LISTADOS PUBLICACIONES */
/****************************************/
.enc-list-publications{

}
.pub-item{
    position: relative;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    margin: 0px auto 30px auto;
    max-width: 210px;
    min-width: 170px;
}
.pub-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    border-radius: 4px;
}
.pub-item .pub-thumb{
    height: 262px;
}
.pub-item .pub-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.pub-item .pub-content{
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.6s ease;
    width: 100%;
    padding: 0px 10px;
}
.pub-item .pub-content .pub-title{
    overflow: hidden;
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    transition: all 0.3s ease;
    margin-top: 0px;
}
.pub-item .pub-content .pub-title a{
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px){
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 400px) and (max-width: 575px){
    .col-sm-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/*.title-category-section, .enc-page-title {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}
.list-publicaciones{
    display: table;
    width: 100%;
}
.pub-cover {
    text-align: center;
    min-height: 250px;
    margin-bottom: 20px;
    padding: 0px 0px;
}
.pub-thumb {
    max-height: 225px;
    overflow: hidden;
    display: block;
}
.pub-thumb img {
    border: 0px #c8c6c4 solid !important;
}
.pub-title-cover {
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    padding: 6px 0 0;
    margin: 0;
    line-height: 16px;
}
.pub-title-cover a {
    color: #959288;
    text-align: left;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    font-size: 12px;
}
.indice {
    margin-top: 40px;
    list-style: none;
}
.indice .item-indice {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #b2b0af;
    margin-left: 0px;
    padding: 10px 0px;
}
.indice .item-indice a {
    color: #1b3f79;
}
.list-publicaciones aside.widget_custom_html{
    display: table;
    width: 100%;
    text-align: center;
}

@media (max-width: 575px){
    .list-publicaciones .col-sm-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 480px){
    .pub-cover{
        display: table;
        margin: 0 auto;
        margin-bottom: 25px;
        min-height: inherit;
    }
    .pub-title-cover {
        max-height: inherit;
    }
}*/