/****************************************/
/* SHORTCODE ULTIMATE */
/****************************************/
.su-accordion .su-spoiler {
    margin-bottom: .5em
}
.su-spoiler {
    margin-bottom: 1.5em
}

.su-spoiler .su-spoiler:last-child {
    margin-bottom: 0
}

.su-spoiler-title {
    position: relative;
    cursor: pointer;
    min-height: 20px;
    line-height: 20px;
    padding: 7px 7px 7px 34px;
    font-weight: 700;
    font-size: 13px
}

.su-spoiler-title:focus {
    outline: currentColor thin dotted
}

.su-spoiler-icon {
    position: absolute;
    left: 7px;
    top: 7px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    font-family: ShortcodesUltimateIcons;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}

.su-spoiler-content {
    padding: 14px;
    -webkit-transition: padding-top .2s;
    transition: padding-top .2s;
    -ie-transition: padding-top .2s
}

.su-spoiler.su-spoiler-closed>.su-spoiler-content {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    opacity: 0;
    pointer-events: none
}

.su-spoiler.su-spoiler-closed>.su-spoiler-content iframe {
    display: none
}

.su-spoiler-style-default>.su-spoiler-title {
    padding-left: 27px;
    padding-right: 0
}

.su-spoiler-style-default>.su-spoiler-title>.su-spoiler-icon {
    left: 0
}

.su-spoiler-style-default>.su-spoiler-content {
    padding: 1em 0 1em 27px
}

.su-spoiler-style-fancy {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    color: #333
}

.su-spoiler-style-fancy>.su-spoiler-title {
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    background: #f0f0f0;
    font-size: .9em
}

.su-spoiler-style-fancy.su-spoiler-closed>.su-spoiler-title {
    border: none
}

.su-spoiler-style-fancy>.su-spoiler-content {
    border-radius: 10px
}

.su-spoiler-style-simple {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.su-spoiler-style-simple>.su-spoiler-title {
    padding: 5px 10px;
    background: #f0f0f0;
    color: #333;
    font-size: .9em
}

.su-spoiler-style-simple>.su-spoiler-title>.su-spoiler-icon {
    display: none
}

.su-spoiler-style-simple>.su-spoiler-content {
    padding: 1em 10px;
    background: #fff;
    color: #333
}
.su-button {
    display: inline-block !important;
    text-align: center;
    text-decoration: none !important;
    box-sizing: content-box !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.su-button span {
    display: block !important;
    text-decoration: none !important;
    box-sizing: content-box !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.su-button small {
    display: block;
    margin: -0.2em 0 0;
    color: inherit;
    text-align: center;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .su-button span {
        padding-top: 0.25em !important;
        padding-bottom: 0.25em !important;
        line-height: 1.2 !important;
    }
    .su-button small {
        margin-top: 0.2em !important;
    }
}
.su-button-style-default {
    border-width: 1px;
    border-style: solid;
}

.su-button-style-default:hover {
    opacity: 0.7;
}

.su-button-style-default span {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}
.su-spacer {
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.su-note {
    margin: 0 0 1.5em;
    border-width: 1px;
    border-style: solid;
}

.su-note-inner {
    padding: 1em;
    border-width: 1px;
    border-style: solid;
}
.su-row {
    clear: both;
    zoom: 1;
    margin-bottom: 1.5em;
}

.su-row:before,
.su-row:after {
    display: table;
    content: '';
}
.su-row:after {
    clear: both;
}
.su-column {
    display: block;
    margin: 0 4% 0 0;
    float: left;
    box-sizing: border-box;
}

.su-column-last {
    margin-right: 0;
}

.su-row .su-column {
    margin: 0 0 0 4%;
}

.su-row .su-column.su-column-size-1-1 {
    margin-left: 0;
    margin-right: 0;
}

.su-row .su-column:first-child {
    margin-left: 0;
}

.su-row .su-column.su-column-centered {
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.su-column img,
.su-column iframe,
.su-column object,
.su-column embed {
    max-width: 100%;
}

@media only screen {
    [class*='su-column'] + [class*='su-column']:last-child {
        float: right;
    }
}

.su-column-size-1-1 {
    width: 100%;
}

.su-column-size-1-2 {
    width: 48%;
}

.su-column-size-1-3 {
    width: 30.66%;
}

.su-column-size-2-3 {
    width: 65.33%;
}

.su-column-size-1-4 {
    width: 22%;
}

.su-column-size-3-4 {
    width: 74%;
}

.su-column-size-1-5 {
    width: 16.8%;
}

.su-column-size-2-5 {
    width: 37.6%;
}

.su-column-size-3-5 {
    width: 58.4%;
}

.su-column-size-4-5 {
    width: 79.2%;
}

.su-column-size-1-6 {
    width: 13.33%;
}

.su-column-size-5-6 {
    width: 82.66%;
}

@media only screen and (max-width: 768px) {
    .su-row .su-column {
        width: 100%;
        margin: 0 0 1.5em;
        float: none;
    }
    .su-row .su-column:last-child {
        margin-bottom: 0;
    }
}
