/****************************************/
/* LISTADO SUBCATEGORIAS */
/****************************************/
.enc-subcategory-list{
    margin-top: 45px;
}
.item-cat.style1{
    position: relative;
    margin-bottom: 30px;
}
.item-cat.style1 .item-image{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.item-cat.style1 .item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
    transition: all 0.5s ease;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.item-cat.style1:hover .item-image img {
    transform: scale3d(1.1,1.1,1);
}
.item-cat.style1 .item-image::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 59%,rgba(0,0,0,.8) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.item-cat.style1 .item-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease;
    padding: 20px;
}
.item-cat.style1 .item-content .item-title{
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
}
.item-cat.style1 .item-content .item-title a{
    color: #fff;
    display: inline;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom,#ffffff 0%,#ffffff 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all 0.7s;
}
.item-cat.style1 .item-content .item-title a:hover{
    background-size: 100% 2px;
}

/*Style 2*/
.item-cat.style2{
    position: relative;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}
.item-cat.style2 .item-image{

}
.item-cat.style2 .item-image img{
    object-fit: cover;
    border-radius: 50%;
    border: 0px solid #e5e5e5;
    background-color: #fff;
    padding: 0px;
    width: 150px;
    height: 150px;
    max-width: 100%;
    box-shadow: none;
}
.item-cat.style2 .item-content{
    position: inherit;
    left: 0;
    right: 0;
    top: 0;
    transform: inherit;
    margin-top: 10px;
}
.item-cat.style2 .item-content .item-title{
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
    line-height: 18px;
    transition: all 0.3s ease;
}
.item-cat.style2 .item-content .item-title a{
    position: relative;
    display: inline-block;
    color: #8b8c8f;
    overflow: hidden;
    padding-bottom: 6px;
}
.dark .item-cat.style2 .item-content .item-title a{
    color: #ffffff;
}
.item-cat.style2 .item-content .item-title a:after {
    position: absolute;
    content: "";
    left: -50%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 3px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: #2962ff;
    transition: all ease 0.31s;
}
.item-cat.style2 .item-content .item-title a:hover{
    color: #054ada;
}
.dark .item-cat.style2 .item-content .item-title a:hover {
    color: #f9f9f9;
}
.item-cat.style2:hover .item-content .item-title a {
    color: #000;
}
.dark .item-cat.style2:hover .item-content .item-title a {
    color: #FFF;
}
.item-cat.style2:hover .item-content .item-title a:after {
    left: 0;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 575px) {
    .enc-subcategory-list .col-sm-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 400px) {
    .item-cat.style2 .item-image img{
        width: 120px;
        height: 120px;
    }
}