/****************************************/
/* Tabs Genfar */
/****************************************/

.vc_tta-panel{
    display: none;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic {
    margin-bottom: 22px;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .td_block_wrap {
    padding-bottom: 0;
}
@media (max-width: 767px) {
    .vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .td_block_wrap {
        padding-bottom: 12px;
    }
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-panels-container .vc_tta-panels {
    background-color: transparent;
    border: none;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container {
    margin-bottom: 26px !important;
    margin-right: 0;
    border-bottom: 2px solid #324052;
    display: block;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tabs-list {
    padding: 0;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab {
    margin: 0;
    display: inline-block;
    padding: 0;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab.vc_active > a,
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab:hover > a {
    border-color: transparent;
    background-color: #324052;
    color: #fff;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab > a {
    border-color: transparent;
    background-color: #fff;
    color: #222;
    padding: 6px 12px 5px 12px !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 0;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-panel-heading {
    display: none;
}
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-panel-body {
    padding: 0;
    border-color: transparent;
    background-color: transparent;
}
.td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container {
    margin-bottom: 17px !important;
    border: none;
}
.vc_tta-tab {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px !important;
}
@media (max-width: 1018px) {
    .td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab {
        margin: 0;
    }
}
.td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab > a {
    background-color: transparent !important;
    font-size: 19px;
}
@media (min-width: 768px) and (max-width: 1018px) {
    .td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab > a {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab > a {
        font-size: 17px;
    }
}
.td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tabs-list {
    text-align: center;
}
.td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab.vc_active > a,
.td-tab-color.vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab:hover > a {
    background-color: transparent;
    color: #009688;
}
.td-tab-color.vc_tta.vc_general .vc_tta-icon {
    font-size: 1em;
    top: -2px;
    position: relative;
}
.td-tab-color .vc_tta-panels-container {
    margin-bottom: 48px;
}
.td-tab-color .vc_tta-tabs-list li:nth-child(1).vc_active > a,
.td-tab-color .vc_tta-tabs-list li:nth-child(1):hover > a {
    color: #e53935 !important;
}
.td-tab-color .vc_tta-panels .vc_tta-panel:nth-child(1) .td-grid-style-1 .td-post-category {
    background-color: #e53935 !important;
}
.td-tab-color .vc_tta-tabs-list li:nth-child(2).vc_active > a,
.td-tab-color .vc_tta-tabs-list li:nth-child(2):hover > a {
    color: #66bb6a !important;
}
.td-tab-color .vc_tta-panels .vc_tta-panel:nth-child(2) .td-grid-style-1 .td-post-category {
    background-color: #66bb6a !important;
}
.td-tab-color .vc_tta-tabs-list li:nth-child(3).vc_active > a,
.td-tab-color .vc_tta-tabs-list li:nth-child(3):hover > a {
    color: #29B6F6 !important;
}
.td-tab-color .vc_tta-panels .vc_tta-panel:nth-child(3) .td-grid-style-1 .td-post-category {
    background-color: #29B6F6 !important;
}
.td-tab-color .vc_tta-tabs-list li:nth-child(4).vc_active > a,
.td-tab-color .vc_tta-tabs-list li:nth-child(4):hover > a {
    color: #7F8FA9 !important;
}
.td-tab-color .vc_tta-panels .vc_tta-panel:nth-child(4) .td-grid-style-1 .td-post-category {
    background-color: #7F8FA9 !important;
}
.td-tab-color .vc_tta-tabs-list li:nth-child(5).vc_active > a,
.td-tab-color .vc_tta-tabs-list li:nth-child(5):hover > a {
    color: #FDD835 !important;
}
.td-tab-color .vc_tta-panels .vc_tta-panel:nth-child(5) .td-grid-style-1 .td-post-category {
    background-color: #FDD835 !important;
}
.su-spoiler-title{
    font-size: 0.75em !important;
}
